<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />

    <add name ="ConnectionString" connectionString="Server=QUANGDV;Database=CoronaPandemic;User Id=sa;Password=abcde12345-;" providerName="System.Data.SqlClient;"/>
  </connectionStrings>
</configuration>